/* <div class="bg-blue-500 rounded-lg p-4">
  <div class="flex justify-end">
    <div class="bg-purple-500 w-16 h-16 rounded-tr-lg flex justify-center items-center">
      <h1 class="text-white text-3xl font-bold">C</h1>
    </div>
  </div>
  <h2 class="text-black text-xl font-bold mt-4">Introduction to C Programming</h2>
  <p class="text-gray-500 text-sm mt-2">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
  <div class="flex justify-between items-center mt-4">
    <div>
      <p class="text-black text-lg font-bold">$15000</p>
      <p class="text-gray-500 text-sm">1 hour credit</p>
    </div>
    <button class="bg-blue-600 text-white px-4 py-2 rounded-lg">Select</button>
  </div>
</div> */


/* https://i.ibb.co/B4Q7pDk/course-1.png
https://i.ibb.co/2jTcVFJ/course-2.png
https://i.ibb.co/sgcMcb5/course-3.png
https://i.ibb.co/82d3d73/course-4.png
https://i.ibb.co/zZsrdTw/course-5.png
https://i.ibb.co/y0tL8Gj/course-6.png
https://i.ibb.co/qsSkdmC/course-7.png
https://i.ibb.co/yVDrLbP/course-8.png
https://i.ibb.co/gTbx2SR/course-9.png */

ol ::marker {
  font-weight: bold;
  grid-template-columns: repeat(auto-fit);
}
